// Colors
$krpz_light: #F0F7D4
$krpz_light_green: #B2D732
$krpz_green: #66B032
$krpz_blue: #347B98
$krpz_dark_blue: #092834

$offset: 30px

.krpz-img
    margin-bottom: $offset / 2
    padding: $offset / 3
    background-color: rgba(242, 242, 242, .5)
    border-radius: 5px

    .image-info
        font-size: .8rem


.red-star
    color: red

.text-title
    color: $krpz_dark_blue
    font-size: 3rem !important
    padding: $offset 0


.top-content
    margin-top: -8%
    text-shadow: 1px 1px 1px $krpz_dark_blue
    @media screen and (max-width: 1200px)
        display: none

.top-content-mob
    display: none
    @media screen and (max-width: 1200px)
        display: block
        text-shadow: 1px 1px 1px $krpz_dark_blue

.slide-menu
    .fa-bars
        cursor: pointer
        font-size: 1.5rem
        color: rgba(178, 215, 50, .5)
        display: block
        font-weight: 600
        text-transform: uppercase
        &:hover
            color: rgba(178, 215, 50, .8)

.participate-link
    width: 100%
    height: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    //@media screen and (max-width: 720px)
    //    justify-content: flex-start
    a
        color: white
        text-transform: uppercase
        padding: 5px 15px
        border: 1px solid white
        border-radius: 20px
        cursor: pointer
        font-weight: bold
        background-color: rgba(178, 215, 50, .5)
        &:hover
            background-color: rgba(178, 215, 50, .8)
            text-decoration: none
            text-shadow: none

.heading-desc
    p
        @media screen and (max-width: 720px)
            margin: 0

.sort-buttons
    @media screen and (max-width: 720px)
        display: flex
        justify-content: space-between
        a
            font-size: 13px

.krpz-img
    .image-action
        cursor: pointer
        position: relative
        margin-bottom: $offset / 6

        img
            width: 100%

        .zoom-img
            display: none
            position: absolute
            top: 10px
            right: 10px
            font-size: 1.5rem
            padding: 0 10px
            border-radius: 5px
            color: $krpz_light
            background-color: rgba(52, 123, 152, .5)
            &:hover
                cursor: pointer

        .like-image
            transition: all .3s ease
            font-size: 2rem
            color: $krpz_light
            background-color: rgba(52, 123, 152, .5)
            position: absolute
            padding: 0 10px
            border-radius: 5px
            bottom: 10px
            right: 10px
            &:hover
                cursor: pointer
                transform: scale(1.1)
                color: pink

    h4
        font-size: 1rem

    .like-counter
        margin-right: $offset / 3
        background-color: $krpz_blue
        color: $krpz_light
        padding: 2px 5px
        border-radius: 5px
        font-size: 1rem

        i
            margin-right: 5px


.participate
    padding-bottom: 5%

    .participate-form
        padding: 6%
        border-radius: $offset / 3
        background-color: #f2f2f2


#krpz-file-input
    position: relative

    #files
        position: absolute
        opacity: 0

    .file-upload-label-wrapper
        padding-top: $offset - 10
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

        #file-upload-label
            background-color: $krpz_blue
            color: $krpz_light
            padding: $offset / 3
            border-radius: $offset / 3
            text-transform: uppercase

            &:hover
                cursor: pointer

    .preview
        ol
            padding: 0

            li
                margin-bottom: $offset

                img
                    width: 100%

                input
                    width: 100%


.krpz-submit-btn
    font-size: 1.3rem
    border: none
    color: $krpz_light
    background-color: $krpz_dark_blue
    display: block
    margin: 0 auto
    padding: ($offset / 3) $offset
    border-radius: $offset / 3
    text-transform: uppercase


#loader-wrapper
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0, .8)
    z-index: 10000


#like-success
    display: none
    width: 20%
    margin: 10% auto
    padding: $offset/2
    border-radius: $offset / 10
    @media screen and (max-width: 720px)
        width: 90%
    i
        font-size: 2rem
        margin-right: 10px


#like-error
    display: none
    width: 30%
    margin: 10% auto
    padding: $offset/2
    border-radius: $offset / 10
    @media screen and (max-width: 720px)
        width: 90%

    i
        font-size: 2rem
        margin-right: 10px


#like-loader-box
    display: none
    padding: $offset/2
    width: 10%
    margin: 10% auto
    @media screen and (max-width: 720px)
        width: 90%

    .like-loader
        display: flex
        align-items: center
        justify-content: center

        .loader-text
            margin-left: 5px


// Admin


// Footer
footer
    @media screen and (max-width: 720px)
        padding-top: 15%!important
        font-size: 13px

.footer-block
    h5
        color: $krpz_light

    .footer-block-list
        list-style-type: none
        padding: 0
        margin: 0

        li
            color: $krpz_light
            a
                color: $krpz_light
                &:hover
                    text-decoration: none
                    color: $krpz_light_green

    .footer-social
        .footer-social-item
            color: $krpz_light_green
            display: flex
            justify-content: flex-start
            a
                color: $krpz_light_green
                display: block
                font-size: 1.5rem
                margin-right: 10px
                &:hover
                    color: $krpz_green


.footer-info
    color: $krpz_light
    font-size: .8rem

    p
        margin: 0

.gl-red
    color: $krpz_light_green
    &:hover
        color: $krpz_green

#loader
    display: none
    position: fixed
    top: 40px
    right: 10px


#success-alert
    display: none
    position: fixed
    top: 40px
    right: 10px
    padding: $offset/3 $offset/2
    border-radius: $offset / 10

#error-alert
    display: none
    position: fixed
    top: 40px
    right: 10px
    padding: $offset/3 $offset/2
    border-radius: $offset / 10

// Slider
.slider-wrap
    display: none
    position: fixed
    top: 0
    left: 0
    z-index: 10001
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, .9)

    .slider
        padding: 15px
        height: 100%
        display: flex
        justify-content: center
        align-items: center

        img
            width: 1140px
            @media screen and (max-width: 1140px)
                width: 100%



    .arrow
        cursor: pointer
        position: absolute
        top: 50%
        margin-top: -50px
        width: 0
        height: 0
        border-style: solid

    .arrow-left
        border-width: 30px 40px 30px 0
        border-color: transparent rgba(255, 255, 255, .5) transparent transparent
        left: 50px
        &:hover
            border-color: transparent rgba(255, 255, 255, .8) transparent transparent
        @media screen and (max-width: 1140px)
            left: 20px

    .arrow-right
        border-width: 30px 0 30px 40px
        border-color: transparent transparent transparent rgba(255, 255, 255, .5)
        right: 50px
        &:hover
            border-color: transparent transparent transparent rgba(255, 255, 255, .8)
        @media screen and (max-width: 1140px)
            right: 20px

    .close-slider
        position: absolute
        top: 5%
        right: 3%
        color: rgba(255, 255, 255, .5)
        font-size: 3rem
        cursor: pointer
        &:hover
            color: rgba(255, 255, 255, .8)
        @media screen and (max-width: 1140px)
            top: 10px
            right: 40px
